<p id="notice"><%= notice %></p>

<div class="container-fluid">
  <h1>Galerie</h1>
  <div class="row">
    <div class="col-md-3 col-sm-4 col-xs-6">
      <% @galleries.each do |gal| %>
        <%= image_tag(gal.cover_image.variant(combine_options: {resize: '350^x350', gravity: 'center', extent: '350x150'}).processed, :class => "img-responsive") %>
      <% end %>

    </div>

  </div>

</div>
