// Place all the styles related to the Admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'gritter';

// SideBar styles
body {
  overflow-x: hidden;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -20rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.7rem;
  font-weight: bold;
}

#sidebar-wrapper .list-group {
  width: 12rem;
  font-size: 1.0rem;
  font-weight: bold;
}

#page-content-wrapper {
  min-width: 100vw;
  padding: 2em;
  margin-bottom: 250px;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
    padding: 2em;
    //margin-bottom: 250px;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -20rem;
  }
}

.sidebar-heading a {
  color: #555;
  text-decoration: none;
}

.sidebar-heading a:hover {
  background-color: #dae0e5 !important;
  color: #555;
  text-decoration: none;
}

.sidebar-heading:hover {
  background-color: #dae0e5 !important;
  color: #555;
  text-decoration: none;
}

// Round Buttons
.row .vertical-center{
  display: flex;
  align-items: center;
}
.btn-circle.btn-xl {
    width: 3.5em;
    height: 3.5em;
    //padding: 10px 16px;
    border-radius: 1.75em;
    font-size: 2.3em;
    //line-height: 1.33;
    margin-right: 0.35em;
}

.btn-circle.btn-xl p {
  text-align: center;
  font-size: 0.45em;
  font-weight: bold;
}

//Admin Tables styles
.admin-table{
  font-size: 1.30em;
}

.admin-table .table-header-text {
  font-size: 1.25em;
}

.admin-table .icon-size{
  font-size: 1.0em;
}

.admin-table .w-5{
  width:5%;
}

.admin-table .w-10{
  width:10%;
}

.admin-table .w-15{
  width:15%;
}

.admin-table .w-20{
  width:20%;
}

.admin-table .w-25{
  width:25%;
}

.admin-table .w-30{
  width:30%;
}
