// Place all the styles related to the Menus controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'gritter';

.card-columns {
    column-count: 3;
}

.weight_and_unit {
  font-size: small;
  font-style: italic;
}
